{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-1 p_image_padding">
            <div class="image-container my-5">
                <img src="{{ MEDIA_URL }}membership.png" alt="Membership Card for 30% discount" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details-container mb-5 mt-5">
                <h2 class="mb-4 mt-5 product_name">{{ user.username }}, you are our VIP!</h2>
                <div class="mb-2">
                    <p>You are a member since {{ membership_start_date|date:"F d, Y" }}.</p>
                    <p>Your membership is valid for 365 days.</p>
                    <p>Your current packaging choice: <strong class="text-uppercase">{{ vip_box_color }}</strong></p>
                    <hr>
                    <h4>Would you like to upgrade your packaging to a fancy VIP box or change its colour?</h4>
                    <h5>It is free for our members!</h5>
                    <p>Otherwise our standard packaging will be an eco, brown box.</p>
                    <hr>
                    <div class="membership">
                        <div class="form-group">
                            <label for="id_packaging_choice" class="custom-label">Packaging Choice:</label>
                            <form method="POST" action="{% url 'create_vip_box' %}">
                                {% csrf_token %}
                                <select id="id_packaging_choice" name="packaging_choice" class="custom-field profile-field">
                                    <option value="pink">Pink Box</option>
                                    <option value="gold">Gold Box</option>
                                </select>
                                <button type="submit" class="btn btn-shopping ml-2">Get VIP Box</button>
                            </form>
                            <hr>
                            <h4>Want to go back to the eco friendly packaging?</h4>
                            <form method="post" action="{% url 'delete_vip_box' %}">
                                {% csrf_token %}
                                <button class="btn btn-shopping" type="submit" onclick="return confirm('Are you sure to cancel?')">Cancel VIP box</button>
                            </form>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>
{% endblock %}
</div>