{% extends "base.html" %} {% load static %} {% block page_header %}

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container mb-2 mt-5">
  <div class="row">
    <div class="col">
      <h2 class="logo-font text-center mb-4">Contact US</h2>
      <hr />
    </div>
  </div>

  <div class="row">
   <div class="col text-center">
      <form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.name.id }}" class="custom-label">Name:</label>
    {{ form.name }}
  </div>
  <div class="form-group">
    <label for="{{ form.email.id }}" class="custom-label">Email:</label>
    {{ form.email }}
  </div>
  <div class="form-group">
    <label for="{{ form.subject.id }}" class="custom-label">Subject:</label>
    {{ form.subject }}
  </div>
  <div class="form-group">
    <label for="{{ form.message.id }}" class="custom-label">Message:</label>
    {{ form.message }}
  </div>
  <button type="submit" class="btn contact-button">Submit</button>
</form>
      <div class="back-to-shop mt-3">
        <a href="{% url 'products' %}" class="btn btn-back">
          <i class="fas fa-chevron-left"></i>back to the Shop
        </a>
      </div>
    </div> 
  </div>
</div>
{% endblock %}
