html {
    height: 100%;
}

body {
    background: url('/media/photoshopped_homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Poppins',
        sans-serif;
}

.logo-font {
    font-family: 'Cinzel Decorative',
        cursive;
    color: black;
}

.banner-font {
    font-family: 'Quicksand',
        sans-serif;
    color: #DAA520;
}

.product_name {
    font-family: 'Quicksand',
        sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #222;
}

.product_detail {
    color: #222;
    font-family: 'Poppins',
        sans-serif;
}

.banner-background {
    background-color: #555;
}

/* from Bulma */
.icon {
    color: black;
}

.search-bar {
    border-bottom: 1px solid #222;
}

.nav-background {
    background-color: #d4c9c5;
}

.nav-link {

    color: black;
    font-size: large;
}

.navbar-toggler-icon {
    background: red;
}

.attention-text {
    background: #d4c9c5;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    height: 80px;
    padding: 0 10px;
}

.shop-now-button {
    background: #DAA520;
    color: #222;
    font-weight: bold;
    border-radius: 50px;
}

/* Gold shimmer - https: //codepen.io/Amarjit/pen/mrbjNy */

.light {
    background: -moz-linear-gradient(-45deg, #DAA520 0%, #DAA520 40%, #ffffff 50%, #DAA520 60%, #DAA520 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #DAA520), color-stop(40%, #DAA520), color-stop(50%, #ffffff), color-stop(60%, #DAA520), color-stop(100%, #DAA520));
    background: -webkit-linear-gradient(-45deg, #DAA520 0%, #DAA520 40%, #ffffff 50%, #DAA520 60%, #DAA520 100%);
    background: -o-linear-gradient(-45deg, #DAA520 0%, #DAA520 40%, #ffffff 50%, #DAA520 60%, #DAA520 100%);
    background: -ms-linear-gradient(-45deg, #DAA520 0%, #DAA520 40%, #ffffff 50%, #DAA520 60%, #DAA520 100%);
    background: linear-gradient(135deg, #DAA520 0%, #DAA520 40%, #ffffff 50%, #DAA520 60%, #DAA520 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DAA520', endColorstr='#DAA520', GradientType=1);
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 300%;
}

.light:hover {
    animation: light 1s;
    -webkit-animation: light 1s;

}

@keyframes light {
    0% {
        background-position: -600px;
    }

    100% {
        background-position: 0px;
    }
}

@-webkit-keyframes light {
    0% {
        background-position: -600px;
    }

    100% {
        background-position: 0px;
    }
}

.bounce:hover {
    animation: bounce 1s;
    -webkit-animation: bounce 1s;

}

/* Product and product detail pages */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #eae4e2;
    background-size: cover;
    z-index: -1;
}

.p_image_padding {
    padding-right: 5%;
}

.help-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.help-link {
    cursor: pointer;
}

.btn-back {
    background-color: #555;
    color: #eae4e2;
    border-radius: 50px;
}

.btn-back:hover {
    background-color: #222;
    color: #eae4e2;
}

.btn-shopping {
    background-color: #555;
    color: #eae4e2;
    font-weight: bold;
    border-radius: 50px;
}

.btn-shopping:hover {
    background-color: #DAA520;
    color: #222;
}

/* Herb */

.star {
    color: #DAA520;
    font-weight: bold;
    text-decoration: underline;
}

.herb-details-container {
    padding: 5% 8%;
}

/* About pages */

.us_overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #eae4e2;
    z-index: -1;
}

/* shopping bag page */

.update-link {
    cursor: pointer;
    color: #DAA520;
}





/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}