<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a
        class="banner-font font-weight-bold nav-link text-black mr-5"
        href="{% url 'home' %}"
      >
        Home
      </a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="banner-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="all-products-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a
          href="{% url 'products' %}?sort=price&direction=asc"
          class="dropdown-item"
          >By Price</a
        >
        <a
          href="{% url 'products' %}?sort=category&direction=asc"
          class="dropdown-item"
          >By Category</a
        >
        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="banner-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="shop-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Skin Types
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="shop-link">
        <a href="{% url 'products' %}?skintypes=oilyskin" class="dropdown-item"
          >Oily Skin</a
        >
        <a href="{% url 'products' %}?skintypes=dryskin" class="dropdown-item"
          >Dry Skin</a
        >
        <a href="{% url 'products' %}?skintypes=agingskin" class="dropdown-item"
          >Aging Skin</a
        >
        <a
          href="{% url 'products' %}?skintypes=normalskin"
          class="dropdown-item"
          >Normal Skin</a
        >
        <a href="{% url 'products' %}" class="dropdown-item">All Skin Types</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="banner-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="shop-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Shop
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="shop-link">
        <a
          href="{% url 'products' %}?category=cleansersandexfoliators"
          class="dropdown-item"
          >Cleansers & Exfoliators</a
        >
        <a href="{% url 'products' %}?category=toners" class="dropdown-item"
          >Toners</a
        >
        <a
          href="{% url 'products' %}?category=moisturisersandmists"
          class="dropdown-item"
          >Moisturisers & Mists</a
        >
        <a
          href="{% url 'products' %}?category=serumsanddrops"
          class="dropdown-item"
          >Serums & Drops</a
        >
        <a href="{% url 'products' %}?category=eyecreams," class="dropdown-item"
          >Eye Creams</a
        >
        <a href="{% url 'products' %}?category=spf" class="dropdown-item"
          >SPF</a
        >
        <a href="{% url 'products' %}" class="dropdown-item">All Skin Care</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="banner-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="about-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        About
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="about-link">
        <a href="{% url 'us' %}" class="dropdown-item">Us</a>
        <a href="" class="dropdown-item">Events</a>
        <a href="" class="dropdown-item">Articles</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="banner-font font-weight-bold nav-link text-black"
        href="#"
        id="membership-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Membership
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="membership-link">
        <a href="" class="dropdown-item">Membership</a>
        <a href="" class="dropdown-item">VIP</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="banner-font font-weight-bold nav-link text-black"
        href="#"
        id="contact-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Contact
      </a>
    </li>
  </ul>
</div>
