{% extends "account/base.html" %} {% load i18n %} {% load account %}
<!-- head title -->
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
<!-- inner_content -->
{% block inner_content %}
<hr />
<h2 class="logo-font mt-5 mb-4">{% trans "Password Reset" %}</h2>
<hr />

{% if user.is_authenticated %}
<!-- include -->
{% include "account/snippets/already_logged_in.html" %} {% endif %}

<p>
  {% blocktrans %}We have sent you an e-mail. Please contact us if you do not
  receive it within a few minutes.{% endblocktrans %}
</p>
{% endblock %}
