{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta charset="utf-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description"
        content="EarthAlchemy Naturals - Your source for natural and holistic skin care products. Explore exclusive discounts and holistic routines in Europe.">
    <meta name="keywords"
        content="natural, skin care, holistic, routine, shopping, women, exclusive discount, Europe, premium packaging, user-friendly, organic products">
    {% endblock %} {% block extra_meta %} {% endblock %} {% block corecss %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Quicksand:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% endblock %} {% block extra_css %} {% endblock %} {% block corejs %}
    <script
      src="https://kit.fontawesome.com/b4a11e6ad7.js"
      crossorigin="anonymous"
    ></script>
    <!--Favicon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'favicon/favicon.ico' %}"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    {% endblock %} {% block extra_js %} {% endblock %}

    <title>EarthAlchemy Naturals {% block extra_title %}{% endblock %}</title>
  </head>

  <body class="d-flex flex-column h-100">
    <header class="container-fluid fixed-top">
      <!-- Logo, Sign-In, Search, Shopping Bag -->
      <div id="topnav" class="row nav-background pt-lg-2 d-none d-lg-flex">
        <div class="col-2 d-flex justify-content-start">
          <!-- Sign-In Link -->
          <ul>
            <li class="list-inline-item dropdown">
            <a
              class="text-black nav-link"
              href="#"
              id="user-options"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <div class="text-center icon">
                {% if request.user.is_authenticated %}
                <div><i class="fa-solid fa-user fa-lg"></i></div>
                <p class="my-0">{{ user.username }}</p>
                {% else %}
                <div><i class="fa-regular fa-user fa-lg"></i></div>
                <p class="my-0">Account</p>
                {% endif %}
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              <!-- superuser -->
              {% if request.user.is_superuser %}
              <a href="{% url 'add_product' %}" class="dropdown-item"
                >Product Management</a
              >
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item"
                >Logout</a
              >
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item"
                >Register</a
              >
              <a href="{% url 'account_login' %}" class="dropdown-item"
                >Login</a
              >
              {% endif %}
            </div>
            </li>
          </ul>
        </div>
        <div class="col-8 d-flex justify-content-center">
          <!-- Logo -->
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h2 class="logo-font my-0">
              <strong>EarthAlchemy</strong> Naturals
            </h2>
          </a>

          <!-- Search Bar -->
          <form method="GET" action="{% url 'products' %}" class="mx-3">
            <div class="input-group w-100">
              <input
                class="form-control border-0 bg-transparent"
                type="text"
                name="q"
                placeholder="Search our site"
                style="border-bottom: 1px solid #222"
              />
              <div class="input-group-append">
                <button
                  class="form-control btn btn-black border-0"
                  type="submit"
                >
                  <span class="icon">
                    <i
                      class="fa-solid fa-magnifying-glass fa-beat fa-lg"
                      style="color: #000000"
                    ></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-2 d-flex justify-content-end">
          <!-- Shopping Bag -->
          <a href="{% url 'view_bag' %}" class="nav-link">
            <div class="text-center icon">
              <i class="fas fa-shopping-bag fa-lg"></i>
              <p class="my-0">
                {% if grand_total %} €{{ grand_total|floatformat:2 }} {% else %}
                €0.00 {% endif %}
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="row nav-background">
        <nav class="navbar navbar-expand-lg w-100">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#main-nav"
            aria-controls="main-nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i id="navbar-icon" class="fas fa-bars"></i>
          </button>
          <!-- include mobile top header -->
          {% include 'includes/mobile-top-header.html' %}
          <!-- include main nav bar -->
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
      <!-- Membership Banner -->
      <div id="delivery-banner" class="row text-center">
        <div class="col banner-background">
          <h4 class="banner-font my-1">Become a member today and save 30%!</h4>
        </div>
      </div>
    </header>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %} {% with message.level as level %}
      <!-- level 40 -->
      {% if level == 40 %}
      <!-- level 30 -->
      {% include 'includes/toasts/toast_error.html' %} {% elif level == 30 %}
      <!-- level 25 -->
      {% include 'includes/toasts/toast_warning.html' %} {% elif level == 25 %}
      <!-- else -->
      {% include 'includes/toasts/toast_success.html' %} {% else %}
      <!-- end -->
      {% include 'includes/toasts/toast_info.html' %} {% endif %} {% endwith %}
      {% endfor %}
    </div>
    {% endif %} {% block page_header %} {% endblock %} 
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
  <footer class="container-wrapper mt-auto footer-background container-fluid">
    <div class="container quotes-container content-container">
      <section class="footer">
        <div class="row">
          <div class="col-12 page-header mb-2">
            <h3 class="text-uppercase">Stay in touch:</h3>
            <hr class="block-divider block-divider--short">
          </div>
       </div>
       <div class="row">
         <div class="col-12 col-md-6 mobile-view">
           <h4>Social</h4>
           <p>Keep up to date with all our latest offers</p>
           <a href="https://www.facebook.com/profile.php?id=61552317252926" target="blank" rel="noopener nofollow" class="facebook"><i class="fa-brands facebook fa-facebook fa-lg" style="color: #222;"></i> Follow us on Facebook!</a>
           <div class="mt-4">
             <a class="privacy-policy" href="https://www.privacypolicygenerator.info/live.php?token=vlbY7iFLNuMEc1RVhPpCmFlsUA1DfF0x"
                target="_blank" rel="noopener nofollow">Privacy Policy</a>
            </div>
         </div>
         <div class="col-12 col-md-6">
           <h3>Subscribe!</h3>
           <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
          <div id="mc_embed_shell">
            <div id="mc_embed_signup" class="container-fluid">
                <form
                    action="https://herokuapp.us21.list-manage.com/subscribe/post?u=1cd558dad5d349d4bda144482&amp;id=f50309c27f&amp;f_id=00f5e5e6f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp-form"
                    target="_blank">
                    <div id="mc_embed_signup_scroll">
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                    class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                                id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            /* real people should not fill this in and expect good things - do not remove this or risk form bot
                            signups */
                            <input type="text" name="b_1cd558dad5d349d4bda144482_f50309c27f" tabindex="-1" value="">
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                    value="Subscribe">
                                <p style="margin: 0px auto;"><a href="http://eepurl.com/iCfsmw" rel="noopener nofollow"
                                        title="Mailchimp - email marketing made easy and fun"><span
                                            style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                class="refferal_badge"
                                                src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                alt="Intuit Mailchimp"
                                                style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            
         </div>
       </div>
     </section>
    </div>
    <!-- Disclaimer -->
    <div class="row">
    <div class="col-12 disclaimer">
        <p class="mb-1 text-center">
            Developer: <a class="disclaimer-link" href="https://www.linkedin.com/in/lilla-kavecsanszki-31888a100/" target="_blank" rel="noopener nofollow"
                aria-label="Visit my LinkedIn page (opens in a new tab)">Lilla Kavecsanszki <i class="fa-brands fa-linkedin-in fa-lg" style="color: #555"></i></a> | 2023
        </p>
        <p class="mb-1 text-center">This website is for educational use only!
        </p>
    </div>
    </div>
  </footer>
<!-- /.footer -->

    {% block after_footer %} {% endblock %} {% block postloadjs %}
    <script>
      $(".toast").toast("show");
    </script>
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script
        >(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
    {% endblock %}
  </body>
</html>
