{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="us_overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-2">
            <hr />
            <h1 class="logo-font mb-2 mt-2">Natural Skin Care</h1>
            <hr class="w-50 mb-1" />
        </div>
    </div>
    <div class="row">
        <!-- Photo on the left -->
        <div class="col-lg-6">
            <div class="image-container my-5">
                <img src="{{ MEDIA_URL }}laborathory.jpg" alt="Image of a woman creating natural skin care products in a 
          laboratory" class="img-fluid" aria-label="Image of a woman creating natural skin care products in a 
          laboratory" />
            </div>
        </div>
        <!-- About section on the right -->
        <div class="col-lg-6">
            <div class="about-section my-5">
                <h3 class="mb-4">Our Story</h3>
                <p>
                    EarthAlchemy Naturals is a journey of passion and dedication to
                    <strong>natural</strong> and <strong>organic</strong> <strong>skincare</strong>. Our story began
                    with a simple idea: to create products that not only enhance the beauty of your skin but also
                    nourish it with the goodness
                    of nature.
                </p>

                <p>
                    Founded by a team of skincare enthusiasts, we believe in the power of herbal ingredients and
                    sustainable practices. We carefully source the finest <em>herbs</em> and <em>botanicals</em> to
                    create products that are gentle
                    on your skin and the environment.
                </p>

                <h3 class="mt-4 mb-3">Our Mission</h3>
                <p>
                    Our mission is to provide you with skincare products that are free from harsh chemicals, parabens,
                    and artificial fragrances. We are committed to promoting healthy and radiant skin by harnessing the
                    healing properties of
                    nature.
                </p>

                <p>
                    At EarthAlchemy Naturals, we are proud to be
                    <strong>cruelty-free</strong>. We do not test our products on animals, and we support initiatives
                    that advocate for cruelty-free beauty. Our commitment to <strong>ethical</strong> practices extends
                    to every aspect of our
                    business.
                </p>

                <h3 class="mt-4 mb-3">Join Us on Our Journey</h3>
                <p>
                    We invite you to join us on our journey towards healthier, more beautiful skin. Explore our range of
                    products, learn about the herbs and botanicals we use, and discover the secrets of natural skincare.
                </p>

                <p>
                    Thank you for choosing EarthAlchemy Naturals as your skincare partner. Together, we can nurture your
                    skin and make the world a little greener, one skincare routine at a time.
                </p>
            </div>
            {% endblock %}
        </div>
    </div>
</div>