{% extends "base.html" %} {% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}" />
{% endblock %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="us_overlay"></div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col text-center mt-5">
            <h2 class="logo-font">EarthAlchemy Naturals</h2>
            <hr class="w-50 mb-1" />
        </div>
    </div>
    <div class="row">
            
                
            </div>
        </div>
    </div>
</div>
{% endblock %}