{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-1 p_image_padding">
      <div class="image-container my-5">
        {% if product.image %}
        <a href="{{ product.image.url }}" target="_blank">
          <img
            class="card-img-top img-fluid"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
          />
        </a>
        {% else %}
        <a href="">
          <img
            class="card-img-top img-fluid"
            src="{{ MEDIA_URL }}noimage.png"
            alt="{{ product.name }}"
          />
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details-container mb-5 mt-md-5">
        <p class="mb-4 product_name">{{ product.name }}</p>
        <div>
            <p class="mb-3">
            {% if request.user.is_superuser %}
            <small class="ml-3">
                <a href="{% url 'edit_product' product.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
            </small>
            {% endif %}
            </p>
          {% if product.category %}
          <p class="small mt-0 mb-3">
            <a
              class="text-muted"
              href="{% url 'products' %}?category={{ product.category.name }}"
            >
              <i class="fas fa-tag mr-1"></i>
              <!-- category name -->
              {{ product.category.friendly_name }}
            </a>
          </p>
          {% endif %}
        </div>
        <div>
          {% if product.skin_types.all %}
          <p class="small mt-0 mb-3">
            {% for skin_type in product.skin_types.all %}
            <a
              class="text-muted"
              href="{% url 'products' %}?skintypes={{ skin_type.name }}"
            >
              <i class="fa-solid fa-flask"></i>
              <!-- skin type name -->
              {{ skin_type.friendly_name }}
            </a>
            {% endfor %}
          </p>
          {% endif %}
        </div>
        <p class="product_detail">
          <i class="fa-solid fa-star fa-beat-fade" style="color: #daa520"></i>
          Star Ingredient:
          <a
            class="star"
            href="{% url 'star_ingredient' product.star_ingredients_id %}"
          >
            {{ product.star_ingredients }}
          </a>
        </p>
        <div class="mb-2">
          <div class="row product_detail">
            <div class="col">
              <p class="mb-0 font-weight-bold">€{{ product.price }}</p>
              <p class="mb-0">Price</p>
            </div>
            <!-- separator symbol -->
            <div class="col">
              <p class="mb-0">|</p>
            </div>
            <div class="col">
              <p class="mb-0 font-weight-bold">€{{ product.member_price }}</p>
              <p class="mb-0">Member's Price</p>
            </div>
          </div>
        </div>
        <p class="mt-3 product_detail">{{ product.description }}</p>
        <p class="mt-3 product_detail">{{ product.milliliter }} ml</p>
        <form
          class="form"
          action="{% url 'add_to_bag' product.id %}"
          method="POST"
        >
          {% csrf_token %}
          <div class="form-row">
            <div class="col-12">
              <p class="mt-3"><strong>Quantity:</strong></p>
              <div class="form-group w-25">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      class="decrement-qty btn btn-black rounded-0"
                      data-item_id="{{ product.id }}"
                      id="decrement-qty_{{ product.id }}"
                    >
                      <span class="icon">
                        <i class="fas fa-minus"></i>
                      </span>
                    </button>
                  </div>
                  <input
                    class="form-control qty_input text-center"
                    type="number"
                    name="quantity"
                    value="1"
                    min="1"
                    max="10"
                    data-item_id="{{ product.id }}"
                    id="id_qty_{{ product.id }}"
                  />
                  <div class="input-group-append">
                    <button
                      class="increment-qty btn btn-black rounded-0"
                      data-item_id="{{ product.id }}"
                      id="increment-qty_{{ product.id }}"
                    >
                      <span class="icon">
                        <i class="fas fa-plus"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <a href="{% url 'products' %}" class="btn btn-back mt-5">
                <i class="fas fa-chevron-left" style="color: #eae4e2"></i> back
                to the Shop
              </a>
              <input
                type="submit"
                class="btn btn-shopping text-uppercase mt-5"
                value="Add to Bag"
              />
            </div>
            <input
              type="hidden"
              name="redirect_url"
              value="{{ request.path }}"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</div>

<!-- js -->
{% block postloadjs %} {{ block.super }}
<!-- js includes -->
{% include 'products/includes/quantity_input_script.html' %}

{% endblock %}
