{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-6">
      <div class="herb-details-container mb-5 mt-md-5">
        <h1 class="text-center mb-4">{{ herb.name }}</h1>

        <div class="herb-details">
          <p>{{ herb.description }}</p>
          <hr />
          <h5>Benefits</h5>
          <p>{{ herb.benefits }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
      <div class="image-container my-5">
        {% if herb.image %}
        <a href="{{ herb.image.url }}" target="_blank">
          <img
            class="card-img-top img-fluid"
            src="{{ herb.image.url }}"
            alt="{{ herb.name }}"
          />
        </a>
        {% else %}
        <a href="">
          <img
            class="card-img-top img-fluid"
            src="{{ MEDIA_URL }}noimage.png"
            alt="{{ herb.name }}"
          />
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
